
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagView</title>
</head>
<body>
    <div>
        @{
            WebMVC.Models.Employee emp = (WebMVC.Models.Employee)ViewBag.Employee;
        }
        <b>Employee Details </b><br />
        Employee Name : @emp.FirstName@emp.LasrName<br />
        Employee Salary : @emp.Salary.ToString("C")<br />
    </div>
</body>
</html>
